@import "tailwindcss";
@import "@xyflow/react/dist/style.css";
@plugin "@tailwindcss/typography";

@theme inline {
  --color-warm-beige: #FDF6EC;
  --color-primary: #F4A261;
  --color-secondary: #2A9D8F;
  --color-text-main: #264653;
  --color-accent: #E76F51;
}

body {
  background-color: #FDF6EC;
  color: #264653;
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
}